.contacts {
  height: 50px;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacts__container {
  width: 55.5em;
  height: 50px;
  background: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; }

.contacts__content-item {
  display: flex;
  align-items: center; }

.contacts__text {
  margin-left: 8px;
  font-family: "Noto Sans";
  font-weight: bold;
  -webkit-text-fill-color: #47a7ac;
  -webkit-text-stroke: 0.5px #17484b; }

.contacts__icon-facebook {
  color: #3b5998; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  text-align: center; }
